asgiref
certifi
charset-normalizer
Django
django-cors-headers
djangorestframework
djangorestframework_simplejwt

pillow
PyJWT
pypdf
python-dotenv
requests
sqlparse
typing_extensions

gunicorn
pymupdf
daphne

# Interview Agent Dependencies
langgraph
langchain-openai
langchain-anthropic
langchain-groq
langchain
langchain-core
langgraph-sdk
sentence-transformers
torch
langgraph-checkpoint-sqlite
